<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="user.config">
    <add key="BaseUrl" value="https://your.teamcity.server"/>
    <add key="Username" value="username"/>
    <add key="Password" value="password"/>
    <add key="JobId" value="jobid"/>
  </appSettings>
</configuration>